/* General style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

/* Style for general layout of content */
.content {
    display: flex;
    justify-content: center;
}

.mainContent {
    display: flex;
    flex-direction: column;
}

/* Styling for top profile bar */
.topProfileBar {
    margin-top: 4rem;
    display: flex;
    border: 2px solid #bdc3c7;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-radius: 0.8rem;
}

.topProfileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

.profileImg {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    border: 2px solid gray;
    padding: 0.1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.profileImg:hover {
    transform: scale(1.08);
}