/* General style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

/* Style for general layout of content */
.content {
    display: flex;
    justify-content: space-evenly;
}

.mainContent {
    display: flex;
    flex-direction: column;
    animation: fadeLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.sidebar {
    margin-top: 4rem;
    padding-right: 85px;
}

/* Css animation for maincontent */
@keyframes fadeLeft {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* Styling for top profile bar */
.topProfileBar {
    margin-top: 4rem;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid #bdc3c7;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-radius: 0.8rem;
}

.topProfileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

.profileImg {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    border: 2px solid gray;
    padding: 0.1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    object-fit: cover;
}

.profileImg:hover {
    transform: scale(1.08);
}

/* Styling for posts */
.postContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-top: 4rem;
}

.post {
    border: 2px solid #bdc3c7;
    border-radius: 0.8rem;
}

.profileRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

.profileRow .fa-ellipsis {
    font-size: 2rem;
    color: #2c3e50;
    cursor: pointer;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.location {
    font-style: italic;
}

.imagePost {
    width: 50rem;
}

.threeBtnContainer {
    display: flex;
    gap: 1rem;
    padding-left: 0.8rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.threeBtn {
    font-size: 1.4rem;
    color: #2c3e50;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.threeBtn:hover {
    color: #5d7286;
}

.heart.active {
    color: red;
}

.likesAmount {
    padding-left: 0.8rem;
    padding-bottom: 0.8rem;
    font-weight: 600;
}

.commentArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.commentArea input {
    width: 18rem;
    height: 2.8rem;
    border-radius: 0.8rem;
}

.commentArea input {
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.commentArea input::placeholder {
    text-align: center;
}

.commentArea input:focus {
    outline: #2c3e50;
    transform: scale(1.03);
}

.fa-face-smile {
    font-size: 1.4rem;
    color: #2c3e50;
    transition: all 0.3s ease-in-out;
}

.fa-face-smile:hover {
    color: #5d7286;
    cursor: pointer;
}

.postBtn {
    width: 6rem;
    height: 2rem;
    border: none;
    border-radius: 0.6rem;
    background-color: #2c3e50;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.postBtn:hover {
    background-color: #5d7286;
    transform: scale(1.02);
}


/* Styling for sidebar */
.followExample {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-top: 1re;
    padding-bottom: 1rem;
    position: relative;
}

.followExample p {
    font-size: 1.1rem;
}

.follow {
    color: rgb(13, 13, 155);
    font-weight: 600;
    position: absolute;
    right: -85px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.follow:hover {
    color: #728191;
}


.sidebarHeadliner h3 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    color: #2c3e50;
}


/* Comment styling */
.commentInnerContainer {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding-left: 0.8rem;
    padding-bottom: 0.2rem;
}

.commentCreator {
    font-weight: 600;
}

.commentContainer {
    padding-bottom: 0.8rem;
}

.fa-trash {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: #2c3e50;
}

.fa-trash:hover {
    color: #5d7286;
    transform: scale(1.01);
}

.d-none {
    display: none;
}


/* Media queries */
@media (min-width: 1750px) {
    .content {
        justify-content: center;
        gap: 6rem;
    }
}

@media (max-width: 1330px) {
    .sidebar {
       display: none;
    }
}

@media (max-width: 920px) {
    
    .topProfileBar {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .topProfileContainer {
        padding-right: 1.4rem;
        padding-left: 1.4rem;
    }

    .topBarImg {
        width: 4.5rem;
        height: 4.5rem;
    }

    .imagePost {
        width: 40rem;
    }
}

@media (max-width: 730px) {
    
    .topProfileBar {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .topProfileContainer {
        padding-right: 1rem;
        padding-left: 1rem;
        font-size: 0.8rem;
    }

    .topBarImg {
        width: 4rem;
        height: 4rem;
    }

    .imagePost {
        width: 30rem;
    }
}

/* Media queries for mobile device */
@media (max-width: 540px) {
    
    .topProfileBar {
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }
    .topProfileContainer {
        padding-right: 0.2rem;
        padding-left: 0.2rem;
        font-size: 0.75rem;
    }

    .profileImg {
        width: 4.2rem;
        height: 4.2rem;
    }

    .topBarImg {
        width: 3.5rem;
        height: 3.5rem;
    }

    .imagePost {
        width: 22rem;
    }

    .commentArea input {
        width: 10rem;
    }

    .postBtn {
        width: 5rem;
        height: 2.4rem;
    }
}

@media (max-width: 400px) {
    
    .topProfileBar {
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }
    .topProfileContainer {
        padding-right: 0.2rem;
        padding-left: 0.2rem;
        font-size: 0.7rem;
    }

    .profileImg {
        width: 4rem;
        height: 4rem;
    }

    .topBarImg {
        width: 3.3rem;
        height: 3.3rem;
    }

    .imagePost {
        width: 20rem;
    }

    .commentArea input {
        width: 9rem;
    }

    .postBtn {
        width: 4.2rem;
        height: 2.4rem;
    }
}

@media (max-width: 320px) {
    
    .topProfileBar {
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }
    .topProfileContainer {
        padding-right: 0.2rem;
        padding-left: 0.2rem;
        font-size: 0.7rem;
    }

    .topProfileContainer p {
        display: none;
    }

    .profileImg {
        width: 3.6rem;
        height: 3.6rem;
    }

    .topBarImg {
        width: 3.2rem;
        height: 3.2rem;
    }

    .imagePost {
        width: 15rem;
    }

    .commentArea input {
        width: 12rem;
    }

    .postBtn {
        width: 8rem;
        height: 2.4rem;
    }

    .fa-face-smile {
        display: none;
    }

    .nameLocation p {
        font-size: 0.7rem;
    }

    .commentArea {
        flex-direction: column;
        gap: 1rem;
    }
}